@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.App {
    text-align: center;
}
