@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Rajdhani:wght@500&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
