.react-audio-player audio {
    /* 오디오 요소에 대한 스타일링 */
    background-color: #000;
}

.react-audio-player .play-pause-button {
    /* 재생/일시 정지 버튼에 대한 스타일링 */
    border: 1px solid green;
}

.react-audio-player .volume-control {
    /* 음량 컨트롤에 대한 스타일링 */
    border: 1px solid green;
}
